<div class="container">
  <div class="twelve columns">
    <div class="five columns">
    	<h4 class='page-header'>
        <span>Daryl Enriquez</span><br />
        <small class='header-tagline'>
          A travel enthusiast, code bender (Ruby, Java, Php, Swift), coffee lover and a slightly social introvert.
        </small>
      </h4>
    </div>

    <div id="nav" class="seven columns align-right">
    	<ul>
    		<li><a href="/">Home</a></li>
    		<li><a href="/about">About</a></li>
    		<li><a href="/posts">Posts</a></li>
    		<li><a href="/categories">Categories</a></li>
    	</ul>
    </div>
  </div>
</div>