<div class='container'>
  <div class="twelve columns">
    <h5 class='section-header'><i class="lnr lnr-coffee-cup"></i> Who am I?</h5>
    <p>Hi! I'm <strong>Daryl Kinichon Enriquez</strong>. I am a web developer by proffession. I mostly develop web applications but my I venture mobile and desktop app developments at my free time. I can say that I'm more of a hobbyist programmer.</p>

    <p>Besides programming, my interests lies in reading, travelling, and 'gyming'. I'm also very interested in adventures, changing the world (as if the world haven't had enough), outer space and astronomy, aliens and all sort of things undiscovered except the ocean.</p>

    <p>I'm typically an introvert but through working with people of different nation and racial origin, I have learned to engage to people to formulate and translate ideas into things.</p>

    <h5 class='section-header'><i class="lnr lnr-clock"></i> Where I've been?</h5>

    <div class="timeline">

      <svg height="20" width="50">
        <circle cx="11" cy="10" r="3" fill="#004165" />
        <circle cx="21" cy="10" r="3" fill="#004165" />
        <circle cx="31" cy="10" r="3" fill="#004165" />
      </svg>
      <svg height="20" width="2">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" />
      </svg>
      <svg height="5" width="40">
        <line x1="0" y1="0" x2="40" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>

      <div class="event">
        <div class="top-event-bubble event-bubble">
          <div class="event-details">
            <div class="event-type">Graduated<div class="event-subtitle">BS Information Technology</div></div>
          </div>
          <div class="event-title">Saint Louis University</div>
        </div>

        <div class="event-author">Baguio City PH</div>

        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>

        <div class="time"><span class='month'>March</span> <span class='year'>2013</span></div>
      </div>

      <svg height="5" width="90">
        <line x1="0" y1="0" x2="90" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event">
        <div class="bottom-event-bubble event-bubble">
          <div class="event-details">
            <div class="event-type">
              Work Started
              <div class="event-subtitle">Computer Programmer</div>
            </div>
          </div>
          <div class="event-title">GXA/Adish Intl.</div>
        </div>
        <div class="event-author">Makati PH</div>

        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>

        <div class="time"><span class='month'>June</span> <span class='year'>2013</span></div>
      </div>

      <svg height="5" width="270">
        <line x1="0" y1="0" x2="270" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event">
        <div class="bottom-event-bubble event-bubble">
          <div class="event-details">
            <div class="event-type">
              Attended Conference
            </div>
          </div>
          <div class="event-title">RubyConfPH 2014</div>
        </div>
        <div class="event-author">BGC Taguig PH</div>

        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>

        <div class="time"><span class='month'>March</span> <span class='year'>2014</span></div>
      </div>

      <svg height="5" width="240">
        <line x1="0" y1="0" x2="240" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event">
        <div class="bottom-event-bubble event-bubble">
          <div class="event-details">
            <div class="event-type">
              Travel
              <div class="event-subtitle">Business Trip</div>
            </div>
          </div>
          <div class="event-title">Tokyo Japan</div>
        </div>
        <div class="event-author">Tokyo Japan</div>

        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>

        <div class="time"><span class='month'>November</span> <span class='year'>2014</span></div>
      </div>

      <svg height="5" width="40">
        <line x1="0" y1="0" x2="40" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>
      <svg height="20" width="50">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <circle cx="11" cy="10" r="3" fill="#004165" />
        <circle cx="21" cy="10" r="3" fill="#004165" />
        <circle cx="31" cy="10" r="3" fill="#004165" />
      </svg>
      <svg height="20" width="2">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" />
      </svg>
      <svg height="5" width="40">
        <line x1="0" y1="0" x2="40" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>

      <div class="event">
        <div class="top-event-bubble event-bubble">
          <div class="event-details">
            <div class="event-type">
              Attended Conference
            </div>
          </div>
          <div class="event-title">RubyConfPH 2016</div>
        </div>

        <div class="event-author">BGC Taguig PH</div>

        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>

        <div class="time"><span class='month'>March</span> <span class='year'>2016</span></div>
      </div>

      <svg height="5" width="40">
        <line x1="0" y1="0" x2="40" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>
      <svg height="20" width="50">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <circle cx="11" cy="10" r="3" fill="#004165" />
        <circle cx="21" cy="10" r="3" fill="#004165" />
        <circle cx="31" cy="10" r="3" fill="#004165" />
      </svg>
      <svg height="20" width="2">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" />
      </svg>
      <svg height="5" width="40">
        <line x1="0" y1="0" x2="40" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>

      <div class="event">
        <div class="bottom-event-bubble event-bubble">
          <div class="event-details">
            <div class="event-type">
              Work Started
              <div class="event-subtitle">Software Engineer</div>
            </div>
          </div>
          <div class="event-title">Amaysim Philippines</div>
        </div>
        <div class="event-author">BGC Taguig PH</div>

        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>

        <div class="time"><span class='month'>April</span> <span class='year'>2017</span></div>
      </div>

      <svg height="5" width="50">
        <line x1="0" y1="0" x2="50" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>
      <svg height="20" width="42">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <circle cx="11" cy="10" r="3" fill="#004165" />
        <circle cx="21" cy="10" r="3" fill="#004165" />
        <circle cx="31" cy="10" r="3" fill="#004165" />
        <line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" />
      </svg>

    </div>

    <h5 class='section-header'><i class="lnr lnr-store"></i> What can I offer?</h5>
    <div class='container'>
      <div class='twelve columns'>
        <div class='nine columns'>
          <strong><i class="lnr lnr-code"></i> Experienced</strong>
          <div class='bar-graph'>
            <dl>
              <dd class="percentage percentage-90"><span class="text">mysql</span></dd>
              <dd class="percentage percentage-80"><span class="text">Ruby</span></dd>
              <dd class="percentage percentage-85"><span class="text">Ruby on Rails</span></dd>
              <dd class="percentage percentage-80"><span class="text">Rspec</span></dd>
              <dd class="percentage percentage-90"><span class="text">Javascript</span></dd>
              <dd class="percentage percentage-90"><span class="text">Jquery</span></dd>
              <dd class="percentage percentage-40"><span class="text">React JS</span></dd>
              <dd class="percentage percentage-50"><span class="text">Backbone JS</span></dd>
              <dd class="percentage percentage-55"><span class="text">Node JS</span></dd>
              <dd class="percentage percentage-55"><span class="text">Express JS</span></dd>
              <dd class="percentage percentage-65"><span class="text">Selenium</span></dd>
              <dd class="percentage percentage-70"><span class="text">GMail API</span></dd>
              <dd class="percentage percentage-75"><span class="text">Facebook API</span></dd>
            </dl>
          </div>
        </div>
        <div class='three columns'>
          <strong><i class="lnr lnr-laptop"></i> Familiar</strong>
          <div class='periodic'>
            <div class='twelve columns'>
              <div class='cell violet-bg-alpha section-break'>
                <span class='cell-icon'>B</span>
                <span class='cell-name'>Bootstrap</span>
              </div>
              <div class='cell blue-bg-alpha section-break'>
                <span class='cell-icon'>Cs</span>
                <span class='cell-name'>Coffeescript</span>
              </div>
              <div class='cell green-bg-alpha section-break'>
                <span class='cell-icon'>Bu</span>
                <span class='cell-name'>Bulma</span>
              </div>
              <div class='cell violet-bg-alpha section-break'>
                <span class='cell-icon'>Php</span>
                <span class='cell-name'>Php</span>
              </div>
              <div class='cell violet-bg-alpha section-break'>
                <span class='cell-icon'>E</span>
                <span class='cell-name'>Electron</span>
              </div>
              <div class='cell red-bg-alpha section-break'>
                <span class='cell-icon'>J</span>
                <span class='cell-name'>Java</span>
              </div>
              <div class='cell violet-bg-alpha section-break'>
                <span class='cell-icon'>C#</span>
                <span class='cell-name'>C#</span>
              </div>
              <div class='cell green-bg-alpha section-break'>
                <span class='cell-icon'>Mo</span>
                <span class='cell-name'>MongoDB</span>
              </div>
              <div class='cell yellow-bg-alpha section-break'>
                <span class='cell-icon'>Py</span>
                <span class='cell-name'>Python</span>
              </div>
              <div class='cell orange-bg-alpha section-break'>
                <span class='cell-icon'>Cb</span>
                <span class='cell-name'>Capybara</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5 class='section-header'><i class="lnr lnr-cart"></i> Where are my sample works?</h5>
    <div class='sample-works'>
      <div class='container'>
        <div class='twelve columns'>
          <div class='five columns'>
            <div class="circle-head-list">
              <ol>
                <li>
                  <a href="https://github.com/darylenriquez/ct_manager_inputer" class='red-bg-alpha'>
                    <span class='source'>1</span>CT Manager Inputer
                  </a>
                </li>
                <li>
                  <a href="https://github.com/darylenriquez/polyboard" target='_blank' class='red-bg-alpha'>
                    <span class='source'>2</span>Polyboard
                  </a>
                </li>
                <li>
                  <a href="http://github.com/darylenriquez/sennin" target='_blank' class='yellow-bg-alpha'>
                    <span class='source'>3</span>Sennin
                  </a>
                </li>
                <li>
                  <a href="http://github.com/darylenriquez/sennin" target='_blank' class='yellow-bg-alpha'>
                    <span class='source'>3</span>scoreboard
                  </a>
                </li>
                <li>
                  <a href="http://github.com/darylenriquez/em-websocket_chat-trial" target='_blank' class='red-bg-alpha'>
                    <span class='source'>3</span>em-websocket_chat-trial
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <div class='five offset-by-two columns'>
            <a href='https://github.com/darylenriquez' target='_blank' class='cell gray-bg-alpha section-break'>
              <span class='cell-icon'>G</span>
              <span class='cell-name'>Github</span>
            </a>
            <a href='https://gist.github.com/darylenriquez' target='_blank' class='cell yellow-bg-alpha section-break'>
              <span class='cell-icon'>Gs</span>
              <span class='cell-name'>Github Gist</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h5 class='section-header'><i class="lnr lnr-bubble"></i> How can you get in touch?</h5>
    <div class='contact-list'>
      <div class='container'>
        <div class='twelve columns'>
          <div class='five columns'>
            <div class="circle-head-list">
              <ol>
                <li>
                  <a href="mailto:darylkinichon@gmail.com" class='red-bg-alpha'>
                    <span class='source'><i class='lnr lnr-envelope'></i></span>darylkinichon@gmail.com
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/thelegendaryl/" target='_blank' class='blue-bg-alpha'>
                    <span class='source'>in</span>afternoonradio
                  </a>
                </li>
                <li>
                  <a href="http://github.com/darylenriquez" target='_blank' class='gray-bg-alpha'>
                    <span class='source'>gh</span>darylenriquez
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <div class='five offset-by-two columns'>
            <div class="circle-head-list">
              <ol>
                <li>
                  <a href="https://www.facebook.com/afternoonradio" target='_blank' class='blue-bg-alpha'>
                    <span class='source'>fb</span>afternoonradio
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/afternoonradio/" target='_blank' class='violet-bg-alpha'>
                    <span class='source'>ig</span>afternoonradio
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/afternoon_radio" target='_blank' class='blue-bg-alpha'>
                    <span class='source'>t</span>afternoon_radio
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>